// Body
body
{
    // Reset margin/padding
    margin: 0;
    padding: 0;
}

// Image
img
{
    // Remove border
    border: 0 none;

    // Auto height
    height: auto;

    // Set line-height so inline works
    line-height: 100%;

    // No outline
    outline: none;

    // No text decoration
    text-decoration: none;
}

a img 
{
    // Remove border
    border: 0 none;
}

// Table and column
table, td
{
    // Remove extra spacing
    border-collapse: collapse;

    // No padding
    padding: 0;
}

// Header
h1,h2,h3,h4,h5,h6
{
    // Margin
    margin: 0;
}