html
{
    background: #111;
    color: #fff;
}

h1
{
    color: blue;
    display: inline-block;
    border: 1px solid green;
}

h1, h2, h3
{
    color: red;
}

h1
{
    font-size: 14px;
}

strong
{
    font-weight: normal;
    font-style: italic;
}

em
{
    font-style: normal;
}

#SpecialHeading
{
    background: pink;
}

.NavBar
{
    padding: 50px;
    border: 1px solid green;
}

span
{
    color: brown;
}

.NavBar span
{
    color: green;
}

.NavBar > span
{
    color: blue;
}

.NavBar ~ p
{
    background: white;
}

.NavBar + p
{
    background: blue;
}

.m0
{
    margin: 0;
}

a
{
    color: green;
}

a:hover
{
    color: white;    
}