@mixin vendor($property, $value...)
{
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    #{$property}: $value;
}

@mixin hocus()
{
    &:hover, &:focus
    {
        @content;
    }
}